<%= form_with(model: query) do |form| %>
  <% if query.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(query.errors.count, "error") %> prohibited this query from being saved:</h2>

      <ul>
        <% query.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :situation %>
    <%= form.text_field :situation %>
  </div>

  <div>
    <%= form.select :category_id, options_for_select(@categories.collect { |cat| [cat.name, cat.id]}) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
