  <h1>
    <%= @query.title %>
  </h1>
  <%= link_to @query.category.name, @query.category %>

<% if @query.situation.present? %>
  <h2>Situation:</h2>
  <p><%= @query.situation %></p>
<% end %>

<div>
  <% if user_signed_in? %>
    <% if @query.user_id == current_user.id %>
      <%= form_with model: @query do |f| %>
          <%= f.fields_for :query_option do |query_option_form| %>
            <%# Allow creation of new options %>
              <%= query_option_form.fields_for :option do |option_form| %>
                  <%= option_form.label :content %>:
                  <%= option_form.text_field :content %>
                  <%= option_form.check_box :preferred %>
              <% end %>
          <% end %>
          <%= f.submit "Add Option" %>
      <% end %>
    <% end %>
  <% end %>
</div>

<br />

<div>
  <% @query.options.each do |option| %>
    <p>
      <%= option.content %>
      <% if user_signed_in? %>
        <% if @query.user_id == current_user.id %>
          <% if option.preferred %>
            <%# link_to "Cancel preference", cancel_preference_query_option_path(@query, option), method: :post %>
          <% else %>
            <%= button_to "Delete", query_option_path(@query, option), method: :delete %>
            <%# button_to "Mark as preferred", mark_as_preferred_query_option_path(@query, option), method: :post %>
          <% end %>
        <% end %>
      <% end %>
    </p>
  <% end %>
</div>

<div>
  <%= link_to "Random Option", random_query_options_path(@query), class: "btn btn-primary" %>
</div>

<div>
  <%= link_to "Add to Daily Decisions", daily_decision_create_path(current_user, query_id: @query.id), method: :post %>
</div>

<div>
  <%= link_to "Back to queries", queries_path %>
    
  <% if user_signed_in? %>
    <% if @query.user_id == current_user.id %>
    | <%= link_to "Edit this query", edit_query_path(@query) %>
      <%= button_to "Destroy this query", @query, method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
  <% end %>
</div>